@media (max-width: 766px) { 
html {
    body {
        font-size: 13px;
    }
    h1 {
        font-size:23px;
    }
    h2 {
        font-size: 25px;
        margin-top: 10px;
    }
    #topCal {
        height: 60px;
        .menuButton img {
            height: 25px;
        }
        .topShadow {
            top: 2px;
        }
        #caldenderPerson .col-xs-3, #caldenderPerson .col-xs-2{    
                > span {
                    height: 40px;
                    width: 40px;
                    &.personOne {
                        background-color: @color10;
                    }
                    &.personTwo {
                        background-color: @color11;
                    }
                    &.personThree {
                        background-color: @color12;
                    }
                    &.personFour {
                        background-color: @color13;
                    }
        
                }
                .glyphicon {
                    font-size: 25px;
                    margin-top: 6px;
                    margin-left: 8px;
                    color: black;
                }
            }                  
        }
        body #mainCalendar #botCal table tr {
            height: 25px;
            padding-top: 2.5px;
        }
        body #mainCalendar #botCal table th, body #mainCalendar #botCal table td {
            padding: 0px;
            padding-top: 2.5px;
        }
        body #mainCalendar #botCal .timeList {
            padding: 0px;
            margin-top: 15px;
            td {
                padding: 0px;
                padding-top: 3px;
            }
        }
        #logoMain {
            padding: 0px;
            padding-left: 5px;
        }
        #topCal #caldenderPerson img {
            max-height: 25px;
            margin-top: 16px;
        }
        body #wrapper #loginScreen {
            margin-top: 50px;
        }
        #caldenderPerson.pageHeader {
            .row #logoMain img{
                max-height: 25px;
            }
        }
    }
}